In [ ]:
# Q1. Write a query that returns the rate_type, loan_id, loan balance , and a column that
# shows with what percentage the loan's balance contributes to the total balance among the
# loans of the same rate type. Sort the final output by rate_type and loan_id.
# Table details:
# id:big int
# balance:double
# interest_rate:double
# rate_type:text
# loan_id:big int

In [ ]:
select rate_type, loan_id, loan balance

In [ ]:
# Q2. You have the marketing_campaign table, which records in-app purchases by users.
# Users making their first in-app purchase enter a marketing campaign, where they see call-to-actions for more purchases. Find how many users made additional purchases due to
# the campaign's success.
# The campaign starts one day after the first purchase. Users with only one or multiple
# purchases on the first day do not count, nor do users who later buy only the same
# products from their first day.
# Table details: marketing_campaign
# user_id:bigint
# created_at:date
# product_id:bigint
# quantity:bigint
# price:bigint

In [ ]:
# Q3. Count the number of user events performed by MacBookPro users. Output the result
# along with the event name. Sort the result based on the event count in the descending
# order.
# Table:Â playbook_events
# user_id:bigint
# occurred_at:timestamp
# event_type:text
# event_name:text
# location:text
# device:text

In [ ]:
SELECT 
    event_name, 
    COUNT(*) AS event_count
FROM 
    playbook_events
WHERE 
    device = 'MacBookPro'
GROUP BY 
    event_name
ORDER BY 
    event_count DESC;

In [4]:
# Q4. Calculate the total revenue from each customer in March 2019. Include only
# customers who were active in March 2019.
# Output the revenue along with the customer id and sort the results based on the revenue
# in descending order.
# Table:orders
# id:bigint
# cust_id:bigint

# order_date:date
# order_details:text
# total_order_cost:bigint

In [ ]:
SELECT 
    cust_id,
    SUM(total_order_cost) AS total_revenue
FROM 
    orders
WHERE 
    order_date BETWEEN '2019-03-01' AND '2019-03-31'
GROUP BY 
    cust_id
ORDER BY 
    total_revenue DESC;

In [ ]:
# Q5. Find the employee with the highest salary per department. Output the department
# name, employee's first name along with the corresponding salary.
# Table:Employee:
# id:bigint
# first_name:text
# last_name:text
# age:bigint
# sex:text
# employee_title:text
# department:text
# salary:bigint
# target:bigint
# bonus:bigint
# email:text
# city:text
# address:text
# manager_id:bigint

In [ ]:
select 
    first_name,
    department,
    salary
from 
    employee
order by 
    department
having 
    max(salary)