In [2]:
# Q1) creating null vector of size 10 and 5th value should be 1

In [5]:
i=[0]*5+[1]+[0]*4
i

[0, 0, 0, 0, 0, 1, 0, 0, 0, 0]

In [ ]:
#Q2 finding the indices of non-zero element
ele=[1,2,0,0,4,0]
print("Indices of non-zero elements is as following") 
for i in range(len(ele)):
    if ele[i] != 0:
        print(i)

Indices of non-zero elements is as following
0
1
4

In [18]:
#Q3. 10*10 array and finding the minimum and max element
import numpy as np

a=[]
def ten_array():
    new_a=[]
    for i in range(10):
        a.append(list(np.random.randint(10,100,size=10)))
    for i in a:
        m=min(i)
        ma=max(i)
        new_a.append(m)
        new_a.append(ma)
    print("Original Array : ",a)
    return min(new_a),max(new_a)

ans=ten_array()
print("Minimum : ",ans[0])
print("Maximum : ",ans[1])

Original Array :  [[86, 56, 79, 31, 94, 18, 78, 46, 38, 33], [10, 15, 70, 46, 79, 83, 28, 25, 27, 18], [23, 25, 89, 36, 74, 66, 11, 47, 46, 55], [96, 47, 47, 54, 48, 85, 23, 43, 93, 80], [15, 51, 24, 47, 16, 54, 64, 72, 52, 92], [96, 75, 68, 21, 41, 88, 13, 84, 80, 48], [94, 44, 57, 61, 74, 85, 50, 51, 90, 89], [52, 90, 60, 78, 26, 96, 89, 67, 66, 76], [95, 62, 86, 12, 39, 45, 98, 24, 67, 68], [79, 77, 92, 49, 47, 38, 79, 26, 46, 84]]
Minimum :  10
Maximum :  98

In [31]:
#Q4. 
0*np.nan

nan

In [30]:
np.nan==np.nan

False

In [33]:
np.inf>np.nan

False

In [35]:
np.nan-np.nan

nan

In [36]:
np.nan in set([np.nan])

True

In [39]:
0.3==3*0.1

False

In [54]:
#Q5.

block=[]

def element():
    count=0
    for i in range(6):
        rows=[]
        for j in range(7):
            rows.append(list(np.random.randint(10,100,size=8)))
        block.append(rows)
    
    for i in block:
        for j in i:
            for k in j:
                if count==99:
                    return k
                count+=1
element()

43

In [63]:
#Q6.
import numpy as np

for i in range(int(np.pi)+1):
    print(np.cos(i))

1.0
0.5403023058681398
-0.4161468365471424
-0.9899924966004454

In [ ]:
#Q7. No

In [67]:
#Q8.
def rectanlge(x1,x2,y1,y2,x,y):
    if x1<=x<=x2 and y1<=y<=y2:
        return "inside"
    else:
        return "outside"
rectanlge(0,0,10,10,5,5)

'outside'

In [68]:
#Q9. NO